**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.vs
**/.vscode
**/bin
**/obj
**/Dockerfile*
**/docker-compose*
**/node_modules
**/*.user
**/*.vspscc
**/*.vssscc
**/azure-logs
**/.azure
**/tests
**/*.md
**/playwright-report
